<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
    <div class="container"></div>
    <div class="header">
    
    <a id="loginPage" href="{{url_for('login')}}">Login page</a>
    <a id="regPage"href="{{url_for('register')}}">Register page</a>
    <h1>LOAN APPROVAL</h1>
    

    </nav>
</div>

<div class="con">
    <img src="{{url_for('static',filename='images/sg.jpg')}}" alt="Snow" style="width:100%;">
    <div class="top-right"><br>Prediction of Modernized <br><br>Loan Approval System<br><br> Based on Machine Learning Approach</div>
</div>
<div class="footer">
    <p class="c">Copyright &copy; 2016 Your Company</p>
  </div>

</body>
</html>